@property --ripple-x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: "50%";
}

@property --ripple-y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: "50%";
}

@property --ripple-size {
  syntax: "<length>";
  inherits: false;
  initial-value: "0px";
}

@property --ripple-color {
  syntax: "<color>";
  inherits: false;
  initial-value: "rgba(0,0,0,0)";
}

.ripple-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ripple:not(.ripple-gradient) {
  background-image: radial-gradient(var(--ripple-size) at var(--ripple-x) var(--ripple-y), var(--ripple-color) 0%, var(--ripple-color) 100%, transparent);
}

.ripple.ripple-gradient {
  background-image: radial-gradient(var(--ripple-size) at var(--ripple-x) var(--ripple-y), var(--ripple-color), transparent);
}

.ripple-text.ripple-gradient {
  background-image: radial-gradient(var(--ripple-size) at var(--ripple-x) var(--ripple-y), var(--ripple-color), currentColor);
}

.ripple-text:not(.ripple-gradient) {
  background-image: radial-gradient(var(--ripple-size) at var(--ripple-x) var(--ripple-y), var(--ripple-color) 0%, var(--ripple-color) 100%, currentColor);
}
